@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,600&family=IBM+Plex+Sans:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,700&display=swap');

:root {
  --primary-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-weight: 500;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* disables scroll bars */
  background: var(--primary-color) url(./img/bg.jpg) no-repeat center
    center/cover;
}

.link-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.link-container button {
  margin: 25px 5px;
  height: 3.5em;
  width: 95%;
  color: white;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 900;
  -webkit-text-stroke-width: 0.017em;
  -webkit-text-stroke-color: black;
 
}

#btn1 {
  background: url(./img/bigvibn2.jpg);
  background-size: cover;

}

#btn2 {
  background: url(./img/bigvibn.jpg);
  background-size: cover;
}

#btn3 {
  background: url(./img/blm.jpg);
  background-size: 100px auto;
}

/* z-index specifies the stack order of elements. The higher the order, the higher the stack order
  The lower, the lower the stack priority
*/
.content {
  position: absolute;
  z-index: 10;
  margin-top: 150px;
}

.video-container video {
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 465px) {
  video {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}


video::-webkit-media-controls {
  display: none !important;
}

/* *::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
} */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

