:root {
  --primary-color: rgb(68, 101, 212);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: color;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color) url(./img/bg.jpg) no-repeat center
    center/cover;
}

.video-container video {
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (max-width: 465px) {
  video {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

/* Gets rid of play button for mobile devices */
/* video::-webkit-media-controls {
  display: none !important;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
} */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
