:root {
  --primary-color: rgrgb(65, 101, 219);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.showcase {
  position: relative;
  height: vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
